faiss-cpu
scikit-learn
pydantic
groq
python-dotenv
sentence-transformers
uvicorn
fastapi
python-multipart
requests
numpy 
pytest
jinja2
httpx
rich
pydantic-settings
pytest-asyncio
loguru
cryptography